body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Source Sans Pro', sans-serif;
 }

.contact{
padding:6% 0 8% 0;
}
.contact-text h3{
margin:0;
color:#393939;
font-size:2.5em;
font-family: 'Raleway', sans-serif;
background:url(../images/line.png) no-repeat 50% 100%;
padding-bottom:0.5em;
margin-bottom:10px;
font-weight:500;
}
.contact-text p{
color: #8e8e8e;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
}
.contact-form{
	text-align:center;
margin-top:7em;
margin-left:3em; 
}
.text-box input[type="text"], .textarea textarea {
border: 2px solid #E5E5E5;
width: 100%;
padding: 0.85em;
border-radius:25em; /*lingkaran kotak*/
margin-bottom: 1.5em;
color: #858585;
}
.text-box input[type="password"], .textarea textarea {
    border: 2px solid #E5E5E5;
    width: 100%;
    padding: 0.85em;
    border-radius: 25em; /*lingkaran kotak*/
    margin-bottom: 1.5em;
    color: #858585;
}

.text-box input[type="submit"] {
background: #0199e6;
border: 1px solid #0199e6;
outline:none;
color: #fff;
font-size: 1.1em;
padding: 0.7em 2.5em;
font-weight:600;
margin: 0 auto;
border-radius: 25px; /*lingakran ktak*/
}
.text-box input[type="submit"]:hover {
outline:none;
color:#0199e6;
border: 1px solid #0199e6;
background:transparent;
}
.textarea input[type="submit"]:focus {
	outline:none;
}

.text-box input[type="text"]:hover, .textarea textarea:hover, .text-box input[type="text"]:focus, .textarea textarea:focus, .text-box input[type="password"]:focus {
outline:none;
border-color:#008ed6;
}

.footer{
background:#050e12;
padding:1em 0;
text-align:center;
}
.footer a img{
display:inline-bloc
}
.copy-right{
margin-top:1em;
}
.copy-right p {
color: #7f7f7f;
font-size: 1.1em;
font-weight:600;
line-height: 1.5em;
}
.copy-right p a{
color: #7f7f7f;
}
}

#login-error-msg-holder {
    width: -100%;
    height: 100%;
    padding: 0.7em 2.5em;
    margin: 0 auto;
}

#login-error-msg {
    width: 25%;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}